.container {
    position: relative;
    margin: 7vh auto 0;
  }
  .page-paint {
    background-color: $blue-light;
  }
  .image {
    height: 250px;
    width: 250px;
    background-size: cover;
    color: $white;
  }
.content {
  width: 70%;
  margin: auto;
}